.aboutcontainer {
    margin-top: 150px;
    margin-bottom: 125px;
    background-color: #008f9e;
    height: 80vh;
    padding: 50px;
    /* border-radius: 50px; */
    font-size: 30px;
    line-height: 60px;
    font-family: "Poppins";
}

.aboutcontent {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
img{
    height: auto;
    width: 500px;
    margin-top: -5px;
    margin-left: 70px;
}
.aboutus{
    background-color: #008f9e;
    margin-top: 85px;
}
.aboutrow{
    border-radius: 100px;
    background-color: white;
    padding: 50px 50px;
}

.first-heading h1{
    font-size: 200px;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #008f9e;
    font-family: "Bebas Neue";
}
.first-heading h5{
    margin-top: -35px;
    font-family: "Poppins medium";
    font-size: 16px;
    color: #929497;
}
.first-heading p{
    font-size: 13px;
    color: #929497;
}
.aboutheading h1{
    font-family: "Bebas Neue";
    font-size: 60px;
    padding-top: 50px;
    color: #008f9e;
}
.aboutparagraph p{
    line-height: 35px;
    color: #929497;
}