@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  background-color: #f0f0f0;
}

.logo {
  width: 250px;
  padding: 20px 12px;
}


.navbar {
  background-color: white;
  font-family: "Poppins medium";

}

.navbar img {
  margin-left: 0px;
  margin-top: 0;
  padding: 0;
}

.navbar ul li a {
  padding: 20px 10px;
  font-size: 18px;
  color: #008f9e !important;
  transition: all 0.3s ease;
}

.navbar ul li a:hover {
  color: #929497 !important;
  transform: translateY(-5px);
  transition: all 0.3s ease;

}

.active {
  height: 55px;
  border-bottom: 4px solid #008f9e;
  border-radius: 4px;
}


.AfterNavbar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 150px;
  text-decoration: none;
  position: relative;
  top: 100px;

}

.AfterNavbar h1 {
  color: #008f9e;
  font-size: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  font-family: "Poppins Medium";
}

.AfterNavbar p {
  font-family: "Poppins Light";
  text-align: center;
  margin-top: 5px;
  font-size: 18px;
  color: #929497;
}



.Submark {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.Submark img {
  width: 600px;
  margin-top: 180px;

}


.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex p {
  font-family: "Poppins Light";
  text-align: center;
  color: #929497;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.flex a {
  font-family: 'Bebas Neue', sans-serif;
  color: #008f9e;
  font-size: 80px;
  margin-top: 30px;
  text-decoration: none;
}

.btn {
  border-radius: 20px;
  border-width: 2px;
  border-color: #008f9e;
  color: #008f9e;
  transition: 0.5s;
}

.btnshop {

  padding: 5px 20px;
  flex-direction: column;
  position: relative;
  color: #008f9e;
  transition: 1s;
  background-color: white
}

.btnshop:hover {
  border-color: white !important;
  transition: 1s;
  background-color: #008f9e;
}

.btn:hover {
  transition: 0.5s;
  color: white;
  background-color: #008f9e;
}


/* New Product dropdown */
.product-button {
  position: relative;
  display: block;
  font-family: "Poppins medium";
  text-decoration: none;
  margin-top: 8px;
  height: 55px;


}

.product-button a {
  text-decoration: none;
}

.product-button a button {
  text-decoration: none;
  transition: all 0.3s ease;
}

.product-button a:hover {
  color: #929497;
}

.button {
  background-color: white !important;
  color: #008f9e;
  /* padding: 10px 15px; */
  font-size: 18px;
  border: 2px solid transparent;
  /* border-radius: 15px; */
  cursor: pointer;
}

.button:hover {
  color: #929497;
}

.dropdown-content {
  display: none;
  font-size: 17px;
  position: absolute;
  z-index: 1;
  min-width: 200px;
  background-color: white;
  /* border: 2px solid #008f9e; */
  color: #008f9e;
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content ul{
  padding-left: 0rem;
  margin-left: 10px;
}

.dropdown-content ul li a {
  color: #008f9e;
  padding: 10px 0px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
}
.dropdown-content ul li {
  list-style-type: none;
}
.dropdown-content a:hover {
  color: #212121;
}
.dropdown-menu{
  padding: 10px 20px ;
}
.dropdown-toggle{
padding-left: 0px !important;
}

.dropdown-content ul li a:focus {
  background-color: #008f9e;
  color: white !important;
}

.dropdown-content #top:hover {
  border-radius: 13px 13px 0px 0px;
}

.dropdown-content #bottom:hover {
  border-radius: 0px 0px 13px 13px;
}

.product-button:hover button {
  /* border-radius: 15px 15px 0px 0px; */
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.product-button:hover .dropdown-content {
  display: block;
}

/* New Product dropdown */


.boxes {
  display: flex;
  align-items: center;
  padding: 20px 40px;


}

.box1 {
  background-image: url(../Images/computer-accessories-.jpg);
  background-blend-mode: darken;
  border-radius: 50px;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #666666;
}

.box1 h5 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
  padding-top: 40px;
  padding-left: 35px;
  margin-bottom: 0;
  color: white;

}

.box1 p {
  font-family: 'Poppins light', sans-serif;
  font-size: 14px;
  padding: 0 36px;
  color: white;

  text-align: left;
}

.box2 {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  background-image: url(../Images/floppy-disk\ 2.jpg);
  background-blend-mode: overlay;
  background-color: #666666;
}

.box2 h5 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
  padding-top: 50px;
  margin-bottom: 0;
  padding-left: 35px;
  color: white;
}

.box2 p {
  font-family: 'Poppins light', sans-serif;
  font-size: 14px;
  padding: 0 36px;
  color: white;
  text-align: left;
}

.box2-text {
  /* width: 593px; */
  height: auto;
}

.box3 {
  height: 1044px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  background-image: url(../Images/Hard\ disk\ image.jpg);
  background-blend-mode: overlay;
  background-color: #666666;
}

.box3 h5 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
  padding-top: 50px;
  margin-bottom: 0;
  padding-left: 35px;
  color: white;

}

.box3 p {
  font-family: 'Poppins light', sans-serif;
  font-size: 14px;
  padding: 0 36px;
  color: white;
  text-align: left;

}

.pro-boxes {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 40px 0;

}

.pro-box1 {
  background-image: url(../Images/production\ image.jpg);
  border-radius: 50px;
  width: 100%;
  height: 1044px;
  padding: 10px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #666666;
}

.pro-box1 h5 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
  padding-top: 40px;
  padding-left: 35px;
  color: white;
  margin-bottom: 0;
}

.pro-box1 p {
  font-family: 'Poppins Light', sans-serif;
  font-size: 14px;
  padding: 0 36px;
  color: white;
  text-align: left;
}

.pro-box2 {
  background-blend-mode: overlay;
  background-color: #666666;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  background-image: url(../Images/production\ image\ 2.jpg);
}

.pro-box2 h5 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
  padding-top: 50px;
  padding-left: 35px;
  color: white;
  margin-bottom: 0;
}

.pro-box2 p {
  font-family: 'Poppins light', sans-serif;
  font-size: 14px;
  padding: 0 36px;
  color: white;
  text-align: left;
}

/* .box2-text{
  
  position: relative;
  top: 180px;
} */

.pro-box3 {
  background-blend-mode: overlay;
  background-color: #666666;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  background-image: url(../Images/production\ image\ 3.jpg);

}

.pro-box3 h5 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
  padding-top: 50px;
  padding-left: 35px;
  color: white;
  margin-bottom: 0;

}

.pro-box3 p {
  font-family: 'Poppins light', sans-serif;
  font-size: 14px;
  padding: 0 36px;
  color: white;
  text-align: left;
}

.modal-header {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.modal-body h4 {
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.modal-body p {
  color: #929497;
}

.footerContainer {
  height: 300px;
  color: #008f9e;
  background-color: white;
  font-family: "Poppins", sans-serif;
  padding: 60px 150px;

}

.footerContainer ul li {
  position: relative;
  right: 30px;
  list-style-type: none;
  padding-top: 5px;
}

.footerContainer ul li a {
  text-decoration: none;
  color: #008f9e;

  &:hover {
    color: #929497;
    text-decoration: underline;
  }

}

.footerContainer img {
  margin-top: -20px;
  width: 220px;
  /* margin-left: 25px; */
}

.footerContainer p {
  font-family: "Poppins light", sans-serif;
  font-size: 13px;
  margin-left: 20px;
  margin-top: 15px;
  color: #929497;
}

.footerContainer h5 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.information {
  padding-left: 40px;
}

footer {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 20px;
  background: #008492;
  color: white;
}











/* Color Code */
/* #008f9e; */
/* #929497 */