@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.privacy-policy{
    margin-top: 100px;
}
.firstheading {
    background-color: #008f9e;
    color:  white;
    padding: 20px 0;
    margin-bottom: 50px;
    border-radius: 20px;
}
.firstheading h1{
    font-size: 80px;
    /* font-family: "Poppins black"; */
    font-family: "Bebas Neue";
    padding-top: 10px;
    padding-bottom:0 ;
    margin-bottom: 0;
}

.firstheading p{
    font-family: "Poppins medium" ;
    padding-top: 0;
    margin-top: 0;
    letter-spacing: 5px;
}

.heading-row{


background-color: white;


}
.heading-row h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
    color: #008f9e;
    padding: 10px 0;
}
.heading-row p {
    font-family: "Poppins light";
    color: #929297;
}
.para-row{
    font-family: "Poppins";
    padding: 20px 0;
    color: #929297;

}