@media(max-width:1400px) {
    .logo {
        width: 200px;
    }

    .navbar ul li a {
        /* font-size: 16px; */
    }

    .product-button a button {

        /* font-size: 15px !important; */
    }

    .dropdown-content {
        min-width: 150px;
        font-size: 12px;

    }

    .Submark img {
        width: 500px;
    }

    .AfterNavbar h1 {
        font-size: 40px;

    }

    .AfterNavbar p {
        font-size: 15px;
    }

    .AfterNavbar button {
        font-size: 15px;
    }
    .flex a {
        font-size: 65px;
    }

    .flex p {
        font-size: 10px;
    }

    .flex button {
        font-size: 15px;
    }
    .box1{
        width: 90%;
    }
    
    .box1 h5{
        font-size: 50px;
    }
    .box1 p{
        font-size: 13px;
    }
    .box2{
        width: 90%;
    }
    
    .box2 h5{
        font-size: 40px;
    }
    .box2 p{
        font-size: 13px;
    }
    .box3{
        width: 90%;
    }
    
    .box3 h5{
        font-size: 40px;
    }
    .box3 p{
        font-size: 13px;
    }
    .pro-box1 h5{
        font-size: 40px;
    }
    .pro-box1 p{
        font-size: 13px;
    }
    .pro-box2 h5{
        font-size: 40px;
    }
    .pro-box2 p{
        font-size: 13px;
    }
    .pro-box3 h5{
        font-size: 40px;
    }
    .pro-box3 p{
        font-size: 13px;
    }
}




















@media(max-width:1200px) {

    .Submark img {
        width: 400px;
        margin-top: 180px;

    }

}