@media(max-width:786px) {

    .card {

        width: 16rem !important;
    }


    .card-title {

        font-size: 16px;

    }

    .card-title p {

        font-size: 15px;

    }
    .card-body button {

        font-size: 13px;

    }

}
@media(max-width:768px) {

    .card {

        width: 15rem !important;
    }


    .card-title {

        font-size: 14px;

    }

    .card-body p {

        font-size: 13px;

    }
    .card-body button {

        font-size: 13px;

    }

}
@media(max-width:528px) {

    .card {
        text-align: center;

        width: 14rem !important;
    }


    .card-title {

        font-size: 13px;

    }

    .card-body p {

        font-size: 12px;

    }
    .card-body button {

        font-size: 12px;

    }

}
@media(max-width:496px) {

    .card {
        text-align: center;

        width: 14rem !important;
    }


    .card-title {

        font-size: 13px;

    }

    .card-body p {

        font-size: 12px;

    }
    .card-body button {

        font-size: 12px;

    }
    .cardflex {
        display: flex;
        
    }

}