html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0  ;

    }
    

    .swiper-slide img {
      display: block;
      width: 600px;
      height: auto;
      object-fit: cover;
    }

    .swiper {
      margin-left: auto;
      margin-right: auto;
      font-family:"Poppins Semibold", sans-serif ;

    }

.swiper h5{

    margin-left: 80px;
    margin-top: 200px;
    font-size: 40px;
    color: #008f9e;
    
}
.swiper p{
    color: #929497;
    font-family: "Poppins ligth", sans-serif ;
    font-size: 15px;
    margin-left: 100px;
   

}
